XSD´s Integração SIGAGPE/IOGPEC03_RET.xsd

<!-- Descreve o layout do xml de retorno para pesquisa de afastamentos de funcionarios -->
<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="IOGPEC03_RET">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="RA_MAT" maxOccurs="unbounded" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="R8_TIPO" maxOccurs="unbounded" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element type="xs:string" name="X5_DESCRI"/>
										<xs:element type="xs:string" name="R8_DATAINI"/>
										<xs:element type="xs:string" name="R8_DATAFIM"/>
									</xs:sequence>
									<xs:attribute type="xs:string" name="value" use="required"/>
									<xs:attribute type="xs:integer" name="order" use="required"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute type="xs:string" name="value" use="required"/>
						<xs:attribute type="xs:integer" name="record" use="required"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>