XSD´s Integração SIGAGPE/IOGPEC03_REM.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Descreve o layout do xml de remessa para pesquisa de afastamentos de funcionarios -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="IOGPEC03_REM">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="RA_MAT">
					<xs:simpleType>
						<xs:list itemType="xs:string"/>
					</xs:simpleType>
				</xs:element>
				<xs:element type="xs:string" name="R8_DATAINI"/>
				<xs:element type="xs:string" name="R8_DATAFIM"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>