XSD´s Integração SIGAGPE/IOGPEC03_RET.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Descreve o layout do xml de retorno para pesquisa de afastamentos de 
	funcionarios -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="IOGPEC03_RET">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="RA_MAT" minOccurs="1" maxOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element type="xs:string" name="RA_NOMECMP" minOccurs="0" maxOccurs="1"/>
							<xs:element name="R8_TIPO" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element type="xs:string" name="RCM_DESCRI"/>
										<xs:element type="xs:string" name="R8_DATAINI"/>
										<xs:element type="xs:string" name="R8_DATAFIM"/>
									</xs:sequence>
									<xs:attribute type="xs:byte" name="order"/>
									<xs:attribute type="xs:byte" name="value"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute type="xs:string" name="value"/>
					</xs:complexType>
				</xs:element>
				<xs:element type="xs:string" name="ERROR"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>