XSD´s Integração SIGAGPE/IOGPEC05_RET.xsd

<!-- Descreve o layout do xml de retorno para pesquisa dos departamentos subordinados ao departamento informado -->
<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="IOGPEC05_RET">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="IOGPEC05_SQB">
					<xs:complexType>
						<xs:sequence>
							<xs:element type="xs:string" name="QB_DEPTO"/>
							<xs:element type="xs:string" name="QB_DESCRIC"/>
							<xs:element type="xs:string" name="RD4_CHAVE"/>
							<xs:element type="xs:string" name="RD4_TREE"/>
						</xs:sequence>
						<xs:attribute type="xs:byte" name="order"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>