XSD´s Integração SIGAGPE/totvsintegrator_nao_oficial.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!-- XML Schema Generated from XML Document on Thu Mar 02 2017 13:43:57 GMT-0300 (Hora oficial do Brasil) -->
	<!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
	<xs:element name="TOTVSIntegrator">
		<xs:annotation>
			<xs:documentation>Tag principal do XML</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="GlobalProduct" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>Identificação do Produto gerador da mensagem</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string"/>
					</xs:simpleType>
				</xs:element>
				<xs:element name="GlobalFunctionCode" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>Valor Fixo: EAI</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:pattern value="EAI"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="GlobalDocumentFunctionCode" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>Identifica qual processo será executado no diagrama do integrator</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string"/>
					</xs:simpleType>
				</xs:element>
				<xs:element name="GlobalDocumentFunctionDescription" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>Descrição do processo </xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string"/>
					</xs:simpleType>
				</xs:element>
				<xs:element name="DocVersion" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>Versão vigente da aplicação fixo: 1.000</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:pattern value="1.000"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="DocDateTime" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>Data da mensagem em formato UTC </xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:dateTime"/>
					</xs:simpleType>
				</xs:element>
				<xs:element name="DocIdentifier" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>Identificador único da mensagem em formato UUID (Universal Unique Identifier) </xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:pattern value="\{[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}\}"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="DocCompany" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>Código da empresa </xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string"/>
					</xs:simpleType>
				</xs:element>
				<xs:element name="DocBranch" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>Código da filial </xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string"/>
					</xs:simpleType>
				</xs:element>
				<xs:element name="DocName" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>Nome da empresa </xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string"/>
					</xs:simpleType>
				</xs:element>
				<xs:element name="DocFederalID" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>Identificação da empresa (CNPJ) </xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string"/>
					</xs:simpleType>
				</xs:element>
				<xs:element name="DocType" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>Tipo de processamento (1- Síncrono ; 2- Assíncrono) </xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="1"/>
							<xs:enumeration value="2"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Message" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>Tag com conteúdo da mensagem de transação</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Layouts" minOccurs="1" maxOccurs="1">
								<xs:annotation>
									<xs:documentation>Tag da Transação</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Identifier" minOccurs="1" maxOccurs="1">
											<xs:annotation>
												<xs:documentation>Id da transação unitária no formato UUID</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="Version" minOccurs="1" maxOccurs="1">
											<xs:annotation>
												<xs:documentation/>
											</xs:annotation>
										</xs:element>
										<xs:element name="FunctionCode" minOccurs="1" maxOccurs="1">
											<xs:annotation>
												<xs:documentation/>
											</xs:annotation>
										</xs:element>
										<xs:element name="Content" minOccurs="1" maxOccurs="1">
											<xs:annotation>
												<xs:documentation/>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>