XSD´s Capacidade Produtiva/Retorno.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="SGPEC001">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SGPEC001_SRA" maxOccurs="unbounded" minOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="RA_MAT" maxOccurs="1" minOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="value" maxOccurs="1" minOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="1" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="order" use="required" type="xs:integer">
										<xs:annotation>
											<xs:documentation>
												<![CDATA[Este Atributo será uma sequencial para cada elemento retornado ]]>
											</xs:documentation>
										</xs:annotation>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="record" use="required" type="xs:integer">
							<xs:annotation>
								<xs:documentation>
									<![CDATA[Este Atributo será uma sequencial para cada elemento retornado ]]>
								</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>