Fontes/CDCF/XSD´s/IOMATA01_RET.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Descreve o layout do xml de retorno para inclusão imediata de clientes -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="IOMATA01_RET">
		<xs:complexType>
			<xs:sequence>
				<xs:element type="xs:byte" name="RESULTADO_INTEGRACAO"/>
				<xs:element type="xs:string" name="DESCRICAO_RESULTADO"/>
				<xs:element type="xs:string" name="MENSAGEM_EXECAUTO"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>