Fontes/CDCF/XSD´s/IOMATA01_REM.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Descreve o layout do xml de remessa para inclusão imediata de clientes -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="IOMATA01_REM">
		<xs:complexType>
			<xs:sequence>
				<xs:element type="xs:string" name="A1_COD"/>
				<xs:element type="xs:string" name="A1_NOME"/>
				<xs:element type="xs:string" name="A1_NREDUZ"/>
				<xs:element type="xs:string" name="A1_END"/>
				<xs:element type="xs:string" name="A1_EST"/>
				<xs:element type="xs:string" name="A1_MUN"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>