Fontes/Portal de Negócios/Títulos Pagos/IOFINC01_RET.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="IOFINC01_RET">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="IOFINC01_SE1" maxOccurs="unbounded" minOccurs="0">
					<xs:complexType>
						<xs:sequence minOccurs="1" maxOccurs="1">
							<xs:element name="E1_FILIAL" type="xs:string" />
							<xs:element name="E1_PREFIXO" type="xs:string" />
							<xs:element name="E1_NUM" type="xs:string" />
							<xs:element name="E1_PARCELA" type="xs:string" />
							<xs:element name="E1_VALOR" type="xs:string" />
							<xs:element name="E1_SALDO" type="xs:string" />
							<xs:element name="E1_NUMBCO" type="xs:string" />
							<xs:element name="E1_BAIXA" type="xs:string" />
							<xs:element name="E1_XSISTEM" minOccurs="1" maxOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="value">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:enumeration value="01">
														<xs:annotation>
															<xs:documentation>Central de Pagamento</xs:documentation>
														</xs:annotation>
													</xs:enumeration>
													<xs:enumeration value="02">
														<xs:annotation>
															<xs:documentation>Livraria</xs:documentation>
														</xs:annotation>
													</xs:enumeration>
													<xs:enumeration value="03">
														<xs:annotation>
															<xs:documentation>Portal de Negócios</xs:documentation>
														</xs:annotation>
													</xs:enumeration>
													<xs:enumeration value="04">
														<xs:annotation>
															<xs:documentation>ECommerce</xs:documentation>
														</xs:annotation>
													</xs:enumeration>
													<xs:enumeration value="05">
														<xs:annotation>
															<xs:documentation>ECalc</xs:documentation>
														</xs:annotation>
													</xs:enumeration>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
									<xs:attribute type="xs:byte" name="order" />
								</xs:complexType>
							</xs:element>
							<xs:element name="E1_XVENDID" type="xs:string" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element type="xs:string" name="ERROR" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>   