Fontes/Portal Imesp/XSD´s Integração SIGAGPE/IOGPEC04_RET.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="IOGPEC05_RET">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="IOGPEC05_RD4" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="RD4_CODIDE"/>
              <xs:element type="xs:string" name="RD4_CHAVE"/>
              <xs:element type="xs:string" name="RD4_DESC"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:positiveInteger" name="TOTAL_SEARCH_RECORDS"/>
        <xs:element type="xs:string" name="ERROR"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>