Fontes/Portal Imesp/XSD´s Integração SIGAGPE/IOGPEC04_REM.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Descreve o layout do xml de remessa para pesquisa do superior do funcionario -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="IOGPEC04_REM">
		<xs:complexType>
			<xs:sequence>
				<xs:element type="xs:string" name="RA_MAT"/>
				<xs:element name="RA_MAT_SUPERIOR">
					<xs:simpleType>
						<xs:restriction base="xs:integer">
							<xs:enumeration value="1"/>
							<xs:enumeration value="2"/>
							<xs:enumeration value="3"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>