Fontes/Portal Imesp/XSD´s Integração SIGAGPE/IOGPEC02_RET.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Descreve o layout do xml de retorno para pesquisa da foto cadastro de 
	funcionarios -->
<xs:schema attributeFormDefault="unqualified"
	elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="IOGPEC02_RET">
		<xs:complexType>
			<xs:sequence>
				<xs:element type="xs:base64Binary" name="IMAGE"
					minOccurs="0" maxOccurs="1" />
				<xs:element type="xs:string" name="ERROR" minOccurs="0"
					maxOccurs="1" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>