Fontes/Portal Imesp/XSD´s Integração SIGAGPE/IOGPEC01_RET.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Descreve o layout do xml de retorno para pesquisa do cadastro de funcionarios -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="IOGPEC01_RET">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="IOGPEC01_SRA" maxOccurs="unbounded" minOccurs="0">
					<xs:complexType>
						<xs:all minOccurs="1" maxOccurs="1">
							<xs:element name="RA_MAT" type="xs:string"/>
							<xs:element name="RA_NOME" type="xs:string"/>
							<xs:element name="RA_NOMECMP" type="xs:string"/>
							<xs:element name="RA_APELIDO" type="xs:string"/>
							<xs:element name="RA_CARGO" type="xs:string"/>
							<xs:element name="Q3_DESCSUM" type="xs:string"/>
							<xs:element name="RA_CATFUNC"  type="xs:string"/>
							<xs:element name="M0_NOME" type="xs:string"/>
							<xs:element name="Z0_XRAMAL" type="xs:string"/>
							<xs:element name="Z0_XRAMAL2" type="xs:string"/>
							<xs:element name="Z0_XRAMAL3" type="xs:string"/>
							<xs:element name="RA_DEPTO" type="xs:string"/>
							<xs:element name="RD4_CHAVE" type="xs:string"/>
							<xs:element name="QB_DESCRIC" type="xs:string"/>
							<xs:element name="RA_DEMISSA" type="xs:string"/>
							<xs:element name="Q3_CLASSE" type="xs:string"/>
							<xs:element name="RA_NASC" type="xs:string"/>
							<xs:element name="RA_FILIAL" type="xs:string"/>
							<xs:element name="RA_SITFOLH" type="xs:string"/>
							<xs:element name="R8_TIPOAFA" type="xs:string"/>
							<xs:element name="RA_EMAIL" type="xs:string"/>
							<xs:element name="RA_CIC" type="xs:string"/>
							<xs:element name="QB_XSIGLA" type="xs:string"/>
							<xs:element name="Z0_XLOGIN" type="xs:string"/>
							<xs:element name="RA_PROCES" type="xs:string"/>
							<xs:element name="RA_CC" type="xs:string"/>
						</xs:all>
					</xs:complexType>
				</xs:element>
				<xs:element name="TOTAL_SEARCH_RECORDS">
					<xs:simpleType>
						<xs:restriction base="xs:positiveInteger"/>
					</xs:simpleType>
				</xs:element>
				<xs:element type="xs:string" name="ERROR"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>